<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
      <%= image_tag 'logo-miranda-3.png' =%>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><%= link_to "Home", home_index_path%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><%= link_to "Sobre nós", home_sobrenos_path%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><%= link_to "Portfólio", home_portfolio_path%></a>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Serviços Dev
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" <%= link_to "Aplicações de Web", home_appruby_path%></a></li>
           
          </ul>
        </li>
        </ul>
        <form class="d-flex">
          <a href="https://api.whatsapp.com/send?phone=5591982499720&"
          target="_blank" class="btn btn-success" role="button">whatsapp</a>
         </form>
      </div>
    </div>
  </nav>
