<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
      <%= image_tag 'logo-miranda-3.png' =%>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><%= link_to "Home", home_index_path%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><%= link_to "Sobre Nós", home_sobrenos_path%></a>
          </li>
         <li class="nav-item">
          <a class="nav-link" href="#"><%= link_to "Contatos", contatos_new_path%></a>
        </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><%= link_to "Portfólio", home_portfolio_path%></a>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Soluções
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" <%= link_to "Criação de sites", home_sites_path%></a></li>
            <li><a class="dropdown-item" <%= link_to "E-commerces", home_ecommerces_path%></a></li>
            <li><a class="dropdown-item" <%= link_to "Aplicações cruds", home_cruds_path%></a></li>
            <li><a class="dropdown-item" <%= link_to "Mídias Sociais", home_midias_sociais_path%></a></li>
            <li><a class="dropdown-item" <%= link_to "Integração Google", home_google_path%></a></li>
            <li><a class="dropdown-item" <%= link_to "Criação de Contêudo", home_criacao_conteudo_path%></a></li>
            
          </ul>
        </li>
        </ul>
        <form class="d-flex">
          <a href="https://api.whatsapp.com/send?phone=5541988503832&"
          target="_blank" class="btn btn-success" role="button">whatsapp</a>
         </form>
      </div>
    </div>
  </nav>
