<br>
<br>
<br>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Portfolio/Experiences</h1>
        <p class="lead text-muted">
          Our portfolio is based on the development of responsive websites and web applications 
          (virtual stores) in front-end and back-end developer Ruby on Rails/React.
        </p>
      </div>
    </div>

    <div class="album py-5 bg-light">
      <div class="container">
        <h2>Aplicações em Ruby on Rails:</h2>
        <hr>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      
          <div class="col">
            <div class="card shadow-sm">
              <%= image_tag 'storebooks.png' =%>
              <div class="card-body">
                <h5> Virtual Store of Livraria Store Books: </h5>
                <h6>| Full Stack Developer | Ruby on Rails |</h6>
                <hr>
                <p class="card-text">
                  I worked on this freelance project in 2021, StoreBooks web application (virtual store) - developed in Ruby on Rails, 
                  with componentization interaction with Reactjs/Ajax and Bootstrap design and responsiveness.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://app-store-book.herokuapp.com/" target="_blank"
                      class="btn btn-sm btn-outline-secondary">Ver</a>
                  </div>
                  <small class="text-muted">MW Tec</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <%= image_tag 'storenotebooks.png' =%>
              <div class="card-body">
                <h5> ON Store Virtual Store </h5>
                <h6>| Full Stack Developer | Ruby on Rails |</h6>
                <hr>
                <p class="card-text">
                  I worked on this freelance project in 2022, Virtual Store,
                  with shopping carts with Stripe payments,
                  developed in Ruby on Rails/React.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://app-store-notebooks.herokuapp.com/" target="_blank"
                      class="btn btn-sm btn-outline-secondary">Ver</a>

                  </div>
                  <small class="text-muted">MW Tec</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <%= image_tag 'app municipe.png' =%>
              <div class="card-body">
                <h5> APP Municipe </h5>
                <h6>| Full Stack Developer | Ruby on Rails |</h6>
                <hr>
                <p class="card-text">
                  Our pilot project, of an intelligent application for the social registration of citizens, for 
                  local city halls. Back-end developed in Ruby on Rails, with responsive design in bootstrap.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://app-municipe.herokuapp.com/" target="_blank"
                      class="btn btn-sm btn-outline-secondary">Ver</a>
                  </div>
                  <small class="text-muted">MW Tec</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="col">
              <div class="card shadow-sm">
                <%= image_tag 'app-emprego.png' =%>
                <div class="card-body">
                  <h5> Web application for a recruitment company. </h5>
                  <h6>| Full Stack Developer | Ruby on Rails |</h6>
                  <h6>| Under development |</h6>
                  <hr>
                  <p class="card-text">
                    I worked on this freelance web application project, full stack (back-end) all in Ruby on Rails, 
                    with bootstrap framework design. A website for a Rails and React recruitment company.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://app-emprego-rails.herokuapp.com/" target="_blank"
                        class="btn btn-sm btn-outline-secondary">Ver</a>

                    </div>
                    <small class="text-muted">MW Tec</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <%= image_tag 'sapatariastudio.png' =%>
              <div class="card-body">
                <h5> Sapataria Studio's online store </h5>
                <h6>| Full Stack Developer | Ruby on Rails |</h6>
                <hr>
                <p class="card-text">
                  I worked on this freelance web application project, full stack (back-end) all in Ruby on Rails, 
                  with bootstrap framework design. A virtual store for a high-end shoe retailer, in Rails React.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                     <a href="https://app-virtual-sapataria.herokuapp.com/" target="_blank"
                      class="btn btn-sm btn-outline-secondary">Ver</a>
                  </div>
                  <small class="text-muted">MW Tec</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <%= image_tag 'digiline.png' =%>
              <div class="card-body">
                <h5> Startup Digiline Pilot Project </h5>
                <h6>| Full Stack Developer | Ruby on Rails |</h6>
                <hr>
                <p class="card-text">
                  Participation in the pilot project of the financial startup Digiline, in this work, I developed part of the layout of 
                  the application's main page, user authentication area and the administrative panel.
                </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  <a href="https://app-bankline-digiline.herokuapp.com/" target="_blank"
                      class="btn btn-sm btn-outline-secondary">Ver</a>
                  </div>
                  <small class="text-muted">MW Tec</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
             <%= image_tag 'app-money.png' =%>

              <div class="card-body">
                <h5> Pilot Money control app project </h5>
                <h6>| Full Stack Developer | Ruby on Rails |</h6>
                <hr>
                <p class="card-text">
                  App money control, an intelligent web application for stock control and commercial finance.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  <a href="https://app-money-control-rails.herokuapp.com/" target="_blank"
                      class="btn btn-sm btn-outline-secondary">Ver</a>
                  </div>
                  <small class="text-muted">Mw Tec</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>

      </div>
  </section>
</main>