<br>
<br>
<br>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Portfólio/Experiências</h1>
        <p class="lead text-muted">
          Nosso portfólio é baseado em projetos de aplicações web responsivas 
          full stack(back e front) em Ruby on Rails/React, desenvolvidas nos últimos dois anos.
        </p>
      </div>
    </div>

    <div class="album py-5 bg-light">
      <div class="container">
        <h2>Aplicações de web</h2>
        <hr>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      
          <div class="col">
            <div class="card shadow-sm">
              <%= image_tag 'storebooks.png' =%>
              <div class="card-body">
                <h5> Projeto pilot de uma loja virtual de livros.  </h5>
                <h6>SKILLS Utilizados:<h6>
                <h6>|Html|CSS|JavaScript|Ajax|Bootstrap|Ruby on Rails/React|.</h6>
                <hr>
                <p class="card-text">
                  Primeiro projeto feito em Rails entre junho à set/2020, desenvolvir durante a leitura do livro "AGILE DEVELOPMENT WITH RAILS 6",
                  uma loja virtual com carrinho de compras e pagamentos, utilizando o formato de página SPA em Ajax e React.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://app-store-book.herokuapp.com/" target="_blank"
                      class="btn btn-sm btn-outline-secondary">Ver</a>
                  </div>
                  <small class="text-muted">MW Tec</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <%= image_tag 'app-money.png' =%>
              <div class="card-body">
                <h5> Projeto pilot de aplicativo de controle de estoque/financeiro. </h5>
                <h6>SKILLS Utilizados:<h6>
                <h6>|Html|CSS|JavaScript|Bootstrap|Ruby on Rails|.</h6>
                <hr>
                <p class="card-text">
                 App money control, uma aplicação web inteligente para controle de estoque 
                 e finanças comerciais, feito entre out à Dez/2020.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://app-store-notebooks.herokuapp.com/" target="_blank"
                      class="btn btn-sm btn-outline-secondary">Ver</a>

                  </div>
                  <small class="text-muted">MW Tec</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <%= image_tag 'app municipe.png' =%>
              <div class="card-body">
                <h5> Projeto pilot de aplicativo de cadastro social de cidadães. </h5>
                <h6>SKILLS Utilizados:<h6>
                <h6>|Html|CSS|Bootstrap|Ruby on Rails|.</h6>
                <hr>
                <p class="card-text">
                  App Municipe, Um aplicação de web de cadastro social de cidadães, feito entre Dez/2020 à Jan/2021.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://app-municipe.herokuapp.com/" target="_blank"
                      class="btn btn-sm btn-outline-secondary">Ver</a>
                  </div>
                  <small class="text-muted">MW Tec</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="col">
              <div class="card shadow-sm">
                <%= image_tag 'app-emprego.png' =%>
                <div class="card-body">
                  <h5> Aplicação Web da empresa Company Recruter.</h5>
                   <h6>SKILLS Utilizados:<h6>
                   <h6>|Html|CSS/Sass|Bootstrap|Ruby on Rails|.</h6>
                  <hr>
                  <p class="card-text">
                   Meu primeiro Projetinho freelancer no portal upwork, uma aplicação de web de cadastro de vagas de emprego, 
                   trabalhei entre março e maio/2021. 
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://app-emprego-rails.herokuapp.com/" target="_blank"
                        class="btn btn-sm btn-outline-secondary">Ver</a>

                    </div>
                    <small class="text-muted">MW Tec</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <%= image_tag 'digiline.png' =%>
              <div class="card-body">
               <h5> Projeto Piloto Startup Digiline </h5>
               <h6>SKILLS Utilizados:<h6>
               <h6>|Html|CSS/Sass|Bootstrap|Ruby on Rails|.</h6>
                <hr>
                <p class="card-text">
                 Participação no projeto piloto da startup financeira Digiline, 
                 neste trabalho desenvolvi parte do layout da página principal do aplicativo, 
                 área de autenticação de usuários e painel administrativo.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                     <a href="https://app-virtual-sapataria.herokuapp.com/" target="_blank"
                      class="btn btn-sm btn-outline-secondary">Ver</a>
                  </div>
                  <small class="text-muted">MW Tec</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
               <%= image_tag 'sapatariastudio.png' =%>
              <div class="card-body">
                <h5> Loja online Sapataria Studio. </h5>
                <h6>SKILLS Utilizados:<h6>
                <h6>|Html|CSS/Sass|Bootstrap|Ruby on Rails/React|.</h6>
                <hr>
                <p class="card-text">
                  Trabalhei neste projeto de aplicação web freelancer, uma loja virtual para uma empresa varejista de calçados de alto padrão.
                </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  <a href="https://app-bankline-digiline.herokuapp.com/" target="_blank"
                      class="btn btn-sm btn-outline-secondary">Ver</a>
                  </div>
                  <small class="text-muted">MW Tec</small>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>
</main>