<br>
<br>
<br>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Portifólio</h1>
        <p class="lead text-muted">
        Nosso portifólio é baseado no desenvolvimento de websites e aplicações de web(lojas virtuais) 
        responsivas em front-end e back-end developer Ruby on Rails/React.
        </p>
      </div>
    </div>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag 'mw-rails2.png' =%>
            <div class="card-body">
              <p class="card-text">
              Nosso site oficial, desenvolvido em Ruby on Rails com a semântica do HTML5, com stylos do CSS3, 
              todo toque final de design e responsividade do Bootstrap. 
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="http://www.mirandaweb.com.br/" target="_blank" class="btn btn-sm btn-outline-secondary">Ver</a>
                </div>
                <small class="text-muted">MW Tec</small>
            </div>
        </div>
    </div>
  </div>
        <div class="col">
          <div class="card shadow-sm">
             <%= image_tag 'storebooks.png' =%>

            <div class="card-body">
              <p class="card-text">
              Aplicação de web (loja virtual) da StoreBooks - desenvolvido em Ruby on Rails, com interação em componentização 
              com Reactjs/Ajax e design e responsividade do Bootstrap.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="http://www.storebooksteste.com.br/" target="_blank" class="btn btn-sm btn-outline-secondary">Ver</a>
                </div>
                <small class="text-muted">MW Tec</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag 'site-bulma.png' =%>

            <div class="card-body">
              <p class="card-text">
              Um simples modelo de web-site desenvolvido somente em HTML5, CSS3 e 
              design e responsividade do Bulma.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://shimmering-dragon-1f7f03.netlify.app/" target="_blank" class="btn btn-sm btn-outline-secondary">Ver</a>
                  
                </div>
                <small class="text-muted">MW Tec</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag 'acai-miranda.png' =%>

            <div class="card-body">
              <p class="card-text">
              Um simples Site institucional do Restaurante Açaí do Miranda, com total interação com as redes sociais, 
              desenvolvido em HTML5, CSS3 e design e responsividade do Bootstrap.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a href="https://incandescent-kataifi-c89652.netlify.app/" target="_blank" class="btn btn-sm btn-outline-secondary">Ver</a>
                  
                </div>
                <small class="text-muted">MW Tec</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <%= image_tag 'mw-react.png' =%>

            <div class="card-body">
              <p class="card-text">
              Mesmo template de nosso site oficial, mas desenvolvido apenas em 
              front-end HTML5, CSS3, Reactjs, design e responsividade do Bootstrap.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://miranda-react.netlify.app/" target="_blank" class="btn btn-sm btn-outline-secondary">Ver</a>
                  
                </div>
                <small class="text-muted">MW Tec</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag 'storenotebooks.png' =%>

            <div class="card-body">
              <p class="card-text">
             loja virtual, da empresa companny notebooks, com carrinhos de compras com pagamentos via Stripe, 
             desenvolvida em Ruby on Rails/React. Em fase de construção, "Trabalho freelancer".
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://store-notebooks.herokuapp.com/" target="_blank" class="btn btn-sm btn-outline-secondary">Ver</a>
                  
                </div>
                <small class="text-muted">MW Tec</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag 'appevernote.png' =%>

            <div class="card-body">
              <p class="card-text">
              Aplicação de web destinado a organização da informação pessoal mediante um arquivo de notas,
              API desenvolvida em back-end com nodejs/express/mongo-db e front-end em Reactjs e Bootstrap.
              Em Fase de construção !!! "Trabalho freelancer".
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a href="https://mellow-froyo-14e6e1.netlify.app/" target="_blank" class="btn btn-sm btn-outline-secondary">Ver</a>
                  
                </div>
                <small class="text-muted">MW Tec</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
             <%= image_tag 'api-stripe.png' =%>

            <div class="card-body">
              <p class="card-text">
              Aos nossos clientes, empresas interessadas e recrutadores; pequena demostração de 
              uma aplicação em Ruby on Rails, integrada com API Stripe pagamentos (Em módulo de teste).
              "Mais um Trabalho freelancer".
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a href="https://app-shoplify-2.herokuapp.com/products" target="_blank" class="btn btn-sm btn-outline-secondary">Ver</a>
                  
                </div>
                <small class="text-muted">MW Tec</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag 'blog-forum.png' =%>
            <div class="card-body">
              <p class="card-text">
              Blog Fórum Rails, desenvolvido Ruby on Rails, com design em bootstrap e bulma. 
              Espaço com objetivo haver interação na comunidade Ruby on Rails: 
              entre estudantes, desenvolvedores junior, plenos e sêniors. 
              Publicações, dúvidas, vagas de estágio, empregos e muito mais. 
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://blog-forum-rails.herokuapp.com/" target="_blank" class="btn btn-sm btn-outline-secondary">Ver</a>
                </div>
                <small class="text-muted">MW Tec</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
           <%= image_tag 'app municipe.png' =%>

            <div class="card-body">
              <p class="card-text">
              App Municipe - Nosso projeto pilot, de uma Aplicação 
              inteligente para cadastro social de cidadães, para prefeituras locais. 
              Back-end desenvolvido em Ruby on Rails, com design responsivo em bootstrap. 
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://app-municipe.herokuapp.com/" target="_blank" class="btn btn-sm btn-outline-secondary">Ver</a>
                </div>
                <small class="text-muted">MW Tec</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                </div>
                <small class="text-muted">MW Tec</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                </div>
                <small class="text-muted">MW Tec</small>
              </div>
            </div>
          </div>
        </div>

  
  </section>
  </main>